/*=== Navbar ===*/
nav {
	background: linear-gradient(to right, #1A1E5C 0%, #16267C 50%, #122D96 100%);
	height: 90px;
}

nav.navbar {
	border-radius: 0;
	border-bottom: 5px solid #F2CA13;
}

nav.navbar.borderColor {
	border-bottom: 5px solid #F8B10A;
}

.container-fluid {
	padding: 0 1.5rem;
	max-width: 1170px;
}

/*=== navigation items ===*/
.nav.navbar-nav {
	margin-top: 16px;
	margin-left: 100px;
}

.nav li a {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	background: none;
}

.nav li a:hover {
	color: #F7B600;
	background: none;
}

.nav li a:focus {
	background: none;
}

/*=== hamburger ===*/
.icon-bar {
	background-color: white;
}

/*=== Visa Logo ===*/
.navbar-brand {
	margin-top: 0.8rem;
}

.navbar-brand img {
	height: 40px;
}

/*=== search icon ===*/

.searchDesktop {
	display: block;
}
.searchMobile {
	display: none;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	background: none;
}

a .glyphicon-search {
	font-size: 2.6rem;
	border-left: 1.5px solid #4E60AB;
	padding-top: 10px;
	margin-top: -10px;
	height: 45px;
	padding-left: 35px;
}

/*=== Carrot under search icon ===*/
a .glyphicon-triangle-top {
	position: absolute;
	top: 53px;
	left: 55px;
	color: #F8B10A;
	font-size: 2.5rem;
	display: none;
}

a .glyphicon-triangle-top.carrot {
	display: block;
}

/*=== Search Menu ===*/
.nav > li.dropdown.open {
    position: static;
}

.nav > li.dropdown.open .dropdown-menu {
    display: table; 
    width: 100%;
    text-align: center; 
    left: 0; 
    right: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 1px #888888;
    margin-top: 5px;
}

.dropdown-menu > li {
    display: table-cell;
}

.dropdown-menu .input-group {
	width: 85%;
	margin: 25px auto;
}

.dropdown-menu .input-group-addon {
	background: white;
	height: 33px;
	color: #CCCCCC;
	border-radius: 0;
	font-size: 20px;
}

.dropdown-menu .form-control {
	border-left: 0;
	border-radius: 0;
	height: 44px;
	font-size: 18px;
}

.dropdown-menu h4 {
	width: 83.5%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	color: #1a1f71;
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: .1rem solid #dedede;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {

	/*=== Navbar ===*/
	nav {
		height: 73px;
	}

	/*=== navigation items ===*/
	.nav.navbar-nav {
		margin-top: 8px;
		float: right;
		margin-left: 0;
	}

	/*=== Visa Logo ===*/
	.navbar > .container-fluid .navbar-brand {
		margin-top: 0.3rem;
		margin-left: 0.5rem;
	}

	.navbar-brand img {
		height: 32px;
	}

	/*=== Carrot under search icon ===*/
	a .glyphicon-triangle-top {
		top: 44px;
	}
}

@media only screen and (max-width: 1033px) {

	/*=== Navbar ===*/
	nav {
		height: 65px;
	}

	/*=== navigation items ===*/
	.nav.navbar-nav {
		margin-top: 5px;
	}

	.nav li a {
		font-size: 13px;
		padding-right: 9px;
		padding-left: 9px;
	}

	/*=== Visa Logo ===*/
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}

	.navbar-brand img {
		height: 25px;
	}

	/*=== search icon ===*/
	a .glyphicon-search {
		font-size: 2rem;
		border-left: 1px solid #4E60AB;
		padding-top: 5px;
		margin-top: -5px;
		height: 30px;
		padding-left: 20px;
	}

	/*=== Carrot under search icon ===*/
	a .glyphicon-triangle-top {
		top: 41px;
		left: 28px;
	}
}

/*=== Mobile ===*/
@media only screen and (max-width: 767px) {

	/*=== Navbar ===*/
	nav {
		height: 68px;
	}

	/*=== navigation items ===*/
	.nav.navbar-nav {
		margin-top: 20px;
		float: none;
	}

	.nav > li {
		padding: 15px 0;
		border-bottom: .1rem solid #dedede;
		width: 95%;
	}

	.nav li a {
		color: #1a1f71;
		font-size: 22px;
	}

	.nav li a:hover {
		color: #1a1f71;
	}

	/*=== hamburger ===*/
	.navbar-toggle {
		margin-right: 50px;
		margin-top: 14px;
	}

	/*=== Visa Logo ===*/
	.navbar > .container-fluid .navbar-brand {
		margin-top: 0.7rem;
	}

	/*=== search icon ===*/
	.nav > li.searchDesktop {
		display: none;
	}
	.searchMobile {
		display: block;
		position: absolute;
		right: 10px;
	}

	a .glyphicon-search {
		border-left: 1px solid #4E60AB;
		margin-top: 18px;
		height: 25px;
		color: #F7B600;
		padding-left: 14px;
		position: absolute;
		right: 2.1%;
	}

	/* === Dropdown Menu Mobile ===*/
	.navbar-header > div.dropdown.open {
	    position: static;
	}

	.navbar-header > div.dropdown.open .dropdown-menu {
	    display: table; 
	    width: 100%;
	    text-align: center; 
	    left: 0; 
	    right: 0;
	    border: 0;
	    border-radius: 0;
	    box-shadow: 0 2px 1px #888888;
	    margin-top: 5px;
	}
}